{
	"parser": "babel-eslint",
	"extends": [
		"tamia/react",
		"plugin:import/errors",
		"plugin:import/warnings"
	],
	"plugins": [
		"import"
	],
	"settings": {
		"react": {
		  "version": "16.6"
		}
	  },
		"rules": {
		"valid-jsdoc": 0,
		"react/prop-types": 0
	}
}
