node_modules/
sites/*/.astro/
sites/*/dist/
sites/*/public/cards/
sites/morning.photos/public/photos/
content/squirrels/
washingcode-book-master/
squirrelsong-master/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sublime-project
*.sublime-workspace
.env
.env.production
.DS_Store
Thumbs.db
.eslintcache
yarn.lock
