node_modules/
dist/
.astro/
washingcode-book-master/
squirrelsong-master/
src/content/squirrels/
public/cards/
styled-system/
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sublime-project
*.sublime-workspace
.env
.env.production
.DS_Store
Thumbs.db
.eslintcache
yarn.lock
