// Author: Artem Sapegin, http://sapegin.me, 2015

.column-list {
	layout-row();
		
	&__item {
		layout-nth(1/2);
		space();
	}
	
	&__title {
		font-size:big_font;
	}
	&__text {
		font-size:small_font;
	}

	&_primary &__title {
		font-size:(big_font*big_font/small_font);
	}
	&_primary &__text {
		font-size:big_font;
	}
	
	+below(600px) {
		&__item {
			layout-nth(1);
		}
	}
}
