// Author: Artem Sapegin, http://sapegin.me, 2015

.column-list {
	layout-row();
	font-size:1.2rem;
	
	&_primary {
		font-size:1.4rem;
	}
	
	&__item {
		layout-nth(1/2);
		space();
		float:left;
		width:50%;
	}
	
	&__text {
		font-size:.8em;
	}
}
