// Author: Artem Sapegin, http://sapegin.me, 2015

.embed {
	space(2);
	
	&__content {
		margin-bottom:2px;
	}
	
	&__description {
		font-size:smaller_font;
	}
	
	+below(1200px) {
		&__content {
			margin-side:-(spacer);
		}
	}
}
