// Author: Artem Sapegin, http://sapegin.me, 2015

.embed-ironman {
	height: 201px;
	background: #000 url(/build/images/embeds/ironman/logo.png) no-repeat center center;

	canvas {
		opacity: 0;
	}
}
