// Author: Artem Sapegin, http://sapegin.me, 2015

.embed-tsott {
	background: #000 no-repeat center center;

	&-i {
		height: inherit;
		background: #000;
		opacity: 0;
	}

	&:hover &-i {
		animation: _embed-tsott 4s infinite;
	}
	@media (hover:none) {
		&-i {
			animation: _embed-tsott 4s infinite;
		}
	}

	+below(480px) {
		&-i {
			background-size: contain;
		}
	}
}

@keyframes _embed-tsott {
	50% {
		opacity: 1;
	}
}
