// Author: Artem Sapegin, http://sapegin.me, 2015

.index-header {
	letter-spacing: .05ex;
	-webkit-font-smoothing: antialiased;

	&__primary {
		margin-left: -0.165rem;
		line-height: 1.1;
		font-size: 56px;
	}

	&__secondary {
		line-height: 1.35;
		font-size: 28px;
	}
}
