// Author: Artem Sapegin, http://sapegin.me, 2015

.page {
	// TODO: -> content, no page max-width

	&_index {
		max-width:none;
		padding:0;
		font-size:20px;

		.content {
			max-width:800px;
			margin:4vh auto;
		}
	}
}
