/* @todo: Find a way not to have it in a separate file */
@utility code-spread-supreme {
	display: grid;
	row-gap: 1rem;
	column-gap: 2rem;
	grid-template-columns: 1fr;
	grid-template-areas: 'light1' 'dark1' 'light2' 'dark2' 'light3' 'dark3';

	@media (width >= 48rem) {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'light1 dark1' 'light2 dark2' 'light3 dark3';
	}

	@media (width >= 62rem) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 'light1 light2 light3' 'dark1 dark2 dark3';
	}

	& > :nth-child(1) {
		grid-area: light1;
	}
	& > :nth-child(2) {
		grid-area: light2;
	}
	& > :nth-child(3) {
		grid-area: light3;
	}
	& > :nth-child(4) {
		grid-area: dark1;
	}
	& > :nth-child(5) {
		grid-area: dark2;
	}
	& > :nth-child(6) {
		grid-area: dark3;
	}
}
