/**
 * Base button.
 */
@utility button {
	position: relative;
	display: inline-block;
	padding: --spacing(2) --spacing(4);
	font-size: var(--text-ui);
	font-family: var(--font-ui);
	line-height: 1rem;
	color: var(--color-text);
	background-color: var(--color-background);
	border-width: 1px;
	border-style: solid;
	border-radius: var(--radius-button);
	text-decoration: none;
	user-select: none;
	transition: all var(--duration-hover) var(--ease-hover);

	&:hover {
		cursor: pointer;
		color: var(--color-accent);
	}

	&:active {
		transform: translateY(1px);
	}

	&:focus-visible {
		outline: var(--border-width-focus) solid var(--color-accent);
		outline-offset: var(--border-width-focus-offset);
	}

	&::-moz-focus-inner {
		border: 0;
	}
}
