.isPrimary .title {
	font-size: var(--headerGammaSize);
}

.isSecondary .title {
	font-size: var(--bigFontSize);
}

.isPrimary .text {
	font-size: var(--bigFontSize);
}

.isSecondary .text {
	font-size: var(--baseFontSize);
}
