.isPrimary .title {
	font-size: calc(var(--bigFont) * var(--bigFont) / var(--smallFont));
}

.isSecondary .title {
	font-size: var(--bigFont);
}

.isPrimary .text {
	font-size: var(--bigFont);
}

.isSecondary .text {
	font-size: var(--smallFont);
}
