.root {
	letter-spacing: 0.05ex;
	-webkit-font-smoothing: antialiased;
}

.head {
	margin-left: -0.165rem;
	line-height: 1.1;
	font-size: 56px;
}

.body {
	line-height: 1.35;
	font-size: var(--headerGammaSize);
}
