:root {
	--maxWidth: none;
	--contentMaxWidth: 850px;
	--textBlockSpace: calc(var(--spacer) * 2);
	--bgColor: #fff;
	--baseColor: #222;
	--linkColor: #e08c3b;
	--hoverColor: #d37135;
	--baseFontSize: 18px;
	--bigFontSize: 22px;
	--smallFontSize: 14px;
	--headerAlphaWeight: inherit;
	--headerBetaWeight: inherit;
}
