modules_default_skin = false;
text_default_headings = false;
content_max_width = 1200px;
spacer = 10px;
bg_color = #fff;
base_color = #222;
link_style = "gradient";
link_color = #e08C3B;
visited_color = link_color;
hover_color = #d37135;
smaller_font = 14px;
small_font = 16px;
normal_font = 18px;
big_font = 20px;
richtypo_extra_features = "ss01", "ss03", "salt";
richtypo_figures = "oldstyle";
