:root {
	--contentMaxWidth: 850px;
	--textBlockSpace: calc(var(--spacer) * 2);
	--bgColor: #fff;
	--baseColor: #222;
	--linkColor: #e08c3b;
	--hoverColor: #d37135;
	--baseFontSize: 18px;
	--bigFontSize: 20px;
	--smallFontSize: 15px;
	--headerAlphaWeight: inherit;
	--headerBetaWeight: inherit;
}
