:root {
	--modulesDefaultSkin: 0;
	--textDefaultHeadings: 0;
	--contentMaxWidth: 1200px;
	--spacer: 10px;
	--bgColor: #fff;
	--baseColor: #222;
	--linkColor: #e08C3B;
	--visitedColor: var(--linkColor);
	--hoverColor: #d37135;
	--smallerFont: 14px;
	--smallFont: 16px;
	--normalFont: 18px;
	--bigFont: 20px;
	--openTypeFeatures: "kern", "liga", "dlig", "hlig", "clig", "pnum", "ss01", "ss03", "salt";
}
