/* Author: Artem Sapegin, http://sapegin.me, 2015 */

modules_default_skin = false;
max_width = 1200px;
content_max_width = null;
sticky_footer_height = null;
spacer = 10px;
bg_color = #fff;
base_color = #222;
link_style = "gradient";
link_color = #e08C3B;
visited_color = link_color;
hover_color = #d37135;
richtypo_extra_features = "ss01", "ss03", "salt";
richtypo_figures = "oldstyle";

@import "tamia";
@import "modules/text";
@import "modules/richtypo";
@import "styles";

@import "blocks/*";
