/* Author: Artem Sapegin, http://sapegin.me, 2015 */

modules_default_skin = false;
max_width = 1200px;
content_max_width = null;
sticky_footer_height = null;
spacer = 10px;
bg_color = #fff;
base_color = #111;
link_style = "underline";
link_color = #1978c8;
visited_color = #8c5ad2;
hover_color = #1694ec;

@import "tamia";
@import "styles";

// @import "blocks/*";
