// Author: Artem Sapegin, http://sapegin.me, 2015

body {
	background:bg_color;
	color:base_color;
	line-height:1.5;
	padding:spacer;
	font-size:16px;
	if (max_width) {
		max-width:max_width;
		margin-left:auto;
		margin-right:auto;
	}
}


// Fonts

body {
	font-family:"Roboto", "Helvetica Neue", Arial, sans-serif;
}


// Headers: alpha, beta, gamma, delta, epsilon, epsilon

.beta {
	space();
	font-weight:normal;
}


// Text

.text {
	a {
		@extend .link;
	}

	p,
	ul,
	ol {
		space(2);
	}
}
