body {
	background: var(--bgColor);
	color: var(--baseColor);
	line-height: 1.5;
	font-size: var(--normalFont);
	/* TODO if (max_width) {*/
		max-width: var(--maxWidth);
		margin-left: auto;
		margin-right: auto;
	/*}*/
	font-weight: 300;
}
